@page "/expense/{id?}"

@using ExpenseTracker.Models
@using ExpenseTracker.Services

@inject ExpenseStorageService expenseStorageService
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Components.Routing
@implements IDisposable
@inject IJSRuntime js



<h2>Expense</h2>

@if (!ready)
{
    <p><em>Loading...</em></p>
}
else
{
    <NavigationLock ConfirmExternalNavigation="@isDirty"
                    OnBeforeInternalNavigation="ConfirmInternalNavigation" />
    <EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row mb-3">
            <label>
                Date
                <InputDate @bind-Value="expense!.Date"
                           class="form-control" />
            </label>
        </div>
        <div class="row mb-3">
            <label>
                Expense Type
                <InputSelect @bind-Value="expense.ExpenseType"
                             class="form-control">
                    <option value="">-- Select Type --</option>
                    @foreach (var type in Enum.GetValues<ExpenseType>())
                    {
                        <option value="@type">@type</option>
                    }
                </InputSelect>
            </label>
        </div>
        <div class="row mb-3">
            <label>
                Vendor
                <InputText @bind-Value="expense.Vendor"
                           class="form-control" />
            </label>
        </div>
        <div class="row mb-3">
            <label>
                Description
                <InputTextArea @bind-Value="expense.Description"
                               class="form-control" />
            </label>
        </div>
        <div class="row mb-3">
            <label>
                Amount
                <InputNumber @bind-Value="expense.Amount"
                             class="form-control" />
            </label>
        </div>
        <div class="row mb-3">
            <label>
                Paid?
                <InputCheckbox @bind-Value="expense.Paid"
                               class="form-check-input mx-1" />
            </label>
        </div>
        <div class="pt-2 pb-2">
            <button type="submit"
                    class="btn btn-primary mr-auto">
                Save
            </button>
            <a href="/" class="btn btn-secondary">
                Cancel
            </a>
            @if (!string.IsNullOrEmpty(expense.Id))
            {
                <button type="button" class="btn btn-danger ms-3"
                        @onclick="DeleteExpense">
                    <span class="bi bi-trash">Delete</span>
                </button>
            }
        </div>

    </EditForm>
}



@code {
    private Expense? expense = new();
    [Parameter] public string? id { get; set; }
    private bool ready;
    private EditContext? editContext;
    private bool isDirty;


    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(id))
        {
            expense = await expenseStorageService.GetExpenseAsync(id);
            if (expense is null)
            {
                navigationManager.NavigateTo("/");
                return;
            }
        }

        editContext = new EditContext(expense);
        editContext.OnFieldChanged += HandleFieldChanged;

        ready = true;
    }


    private async Task HandleValidSubmit()
    {
        isDirty = false;
        await expenseStorageService.SaveExpenseAsync(expense!);
        navigationManager.NavigateTo("/");
    }


    private async Task DeleteExpense()
    {
        isDirty = false;
        await expenseStorageService.DeleteExpenseAsync(expense.Id);
        navigationManager.NavigateTo("/");
    }


    private void HandleFieldChanged(object? sender,
    FieldChangedEventArgs e)
    {
        isDirty = true;
        StateHasChanged();
    }
    private async Task ConfirmInternalNavigation(
    LocationChangingContext context)
    {
        if (!isDirty)
        {
            return;
        }

        var confirm = await js.InvokeAsync<bool>(
            "confirm",
            "You have unsaved changes. Are you sure you want to leave this page?");

        if (!confirm)
        {
            context.PreventNavigation();
        }
    }

    public void Dispose()
    {
        if (editContext is not null)
        {
            editContext.OnFieldChanged -= HandleFieldChanged;
        }
    }

}
