@page "/"
@using WeatherForecast.Models
@inject IJSRuntime js
@implements IAsyncDisposable

<PageTitle>Weather Forecast</PageTitle>

@if (_pos == null)
{
    <p><em>@_message</em></p>
}
else
{
    <h2>
        Latitude: @_pos.Latitude,
        Longitude: @_pos.Longitude
    </h2>
}
@code {
    private IJSObjectReference? _module;
    private string _message = "Loading...";
    private Position? _pos;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                _module = await js.InvokeAsync<IJSObjectReference>
                    ("import", "./scripts/jsInterop.js");
                await GetPositionAsync();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                _message = $"Error: {ex.Message}";
                StateHasChanged();
            }
        }
    }
    private async Task GetPositionAsync()
    {
        if (_module is not null)
        {
            _pos = await _module.InvokeAsync<Position>
                ("getPosition");
        }
    }
    public async ValueTask DisposeAsync()
    {
        if (_module is not null)
        {
            await _module.DisposeAsync();
        }
    }
}